{{ header }}
<div class="wrapper">
    <div class="header">
        <div class="row no-gutters">
            <div class="col-auto">
                <button class="btn  btn-link text-dark menu-btn"><img src="catalog/view/theme/go/image/menu.png" alt=""><span
                            class="new-notification"></span></button>
            </div>
            <div class="col text-center"><h3 class="header-logo mt-3">HIRO</h3></div>
            <div class="col-auto">
                <a href="index.php?route=account/login" class="btn  btn-link text-dark"><i class="material-icons">account_circle</i></a>
            </div>
        </div>
    </div>
    <div id="checkout-checkout" class="container">
        <div class="row mt-4">
            <div class="col-12">
                <label for="location_suggest">Username</label>
                <div class="input-group mb-4">
                    <input type="text" class="form-control form-control-lg" id="location_suggest"
                           style="border-radius: 6px 0 0 6px">
                    <div class="input-group-prepend">
                        <button data-toggle="modal" data-target="#map_center_modal" class="input-group-text" id="inputGroupPrepend3">Select on map</button>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Comments</label>
                    <textarea class="form-control form-control-lg" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
        </div>

        <div class="card border-0 shadow-sm mt-3">
            <div class="card-body">
                <div class="row ">
                    <div class="col-4">
                        <p class="text-secondary mb-1 small">Sub Total</p>
                        <h5 class="mb-0">$360.00</h5>
                    </div>
                    <div class="col-4 text-center">
                        <p class="text-secondary mb-1 small">Tax</p>
                        <h5 class="mb-0">$40.00</h5>
                    </div>
                    <div class="col-4 text-right">
                        <p class="text-secondary mb-1 small">Discount</p>
                        <h5 class="mb-0">-$100.00</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4 border-0 shadow-sm border-top-dashed">
            <div class="card-body text-center">
                <p class="text-secondary my-1">Net Payable</p>
                <h3 class="mb-0">$400.00</h3>
            </div>
        </div>
        <p class="text-center text-secondary mb-0">Pay with</p>

        <div class="btn-group mt-4 w-100" role="group" aria-label="Basic example">
            <a href="javascript:void(0)" class="btn btn-light active">Cash</a>
            <a href="javascript:void(0)" class="btn btn-light">Payme</a>
        </div>

        <a href=""
           class="btn btn-lg btn-default text-white btn-block btn-rounded shadow mt-4"><span>Complete Order</span><i
                    class="material-icons">arrow_forward</i></a>
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i
                        class="fas fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
    </div>
    <script>
        var userSelectedLocation = '';
        function onLoad(ymaps) {

            var map = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 12,
                controls: ['fullscreenControl', 'searchControl', 'zoomControl'],
            });

            ymaps.geolocation.get({
                provider: 'browser',
                mapStateAutoApply: true,
                zoom: 12,
            }).then(function (result) {
                /**
                 * We'll mark the position obtained through the browser in blue.
                 * If the browser does not support this functionality, the placemark will not be added to the map.
                 */
                map.setCenter(result.geoObjects.position);
                var geoObject = result.geoObjects.get(0).properties.get('metaDataProperty');
                userSelectedLocation = geoObject.GeocoderMetaData.text;
                $('#location_suggest')[0].value = userSelectedLocation;
            });

            map.events.add('actionend', function (e) {
                var coords = map.getCenter();
                var geocoder = ymaps.geocode(coords).then(function (res) {
                    var geoObject = res.geoObjects.get(0).properties.get('metaDataProperty');
                    userSelectedLocation = geoObject.GeocoderMetaData.text;
                    $('#location_text').html(userSelectedLocation);
                }).catch(console.warn);
            });

            var suggestView = new ymaps.SuggestView('location_suggest');

            $('#map_center_modal').on('shown.bs.modal', function() {
                $('#location_confirm_button').on('click', function () {
                    $('#location_suggest')[0].value = userSelectedLocation;
                    $('#map_center_modal').modal('hide');
                });
            });
        }

    </script>
</div>
<div class="modal fade" id="map_center_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content shadow">
            <div class="modal-body text-center p-0">
                <div id="map_container">
                    <div id="placemaker">
                        <i class="material-icons text-default">room</i>
                    </div>
                    <div id="map_bottom_actions">
                        <h5 id="location_text" class="text-center"></h5>
                        <button id="location_confirm_button" class="btn btn-default">Confirm</button>
                    </div>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}