<div class="footer">
    <div class="no-gutters">
        {% if not hide_bottom_menu %}
            <div class="col-auto mx-auto">
                <div class="row no-gutters justify-content-center">
                    <div class="col-auto">
                        <a href="index.html" class="btn btn-link-default active">
                            <i class="material-icons">store_mall_directory</i>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a href="statistics.html" class="btn btn-link-default">
                            <i class="material-icons">insert_chart_outline</i>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a href="?route=checkout/cart" class="btn btn-default shadow centerbutton" id="cart">
                            <i class="material-icons">local_mall</i>
                            <span class="cart_counter">{{ cart_count }}</span>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a href="favorite-products.html" class="btn btn-link-default">
                            <i class="material-icons">favorite</i>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a href="index.php?route=account/login" class="btn btn-link-default">
                            <i class="material-icons">account_circle</i>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
