<h6 class="subtitle">Categories</h6>
{% if categories %}
    <div class="row justify-content-center">
        {% for category in categories %}
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-4">
                <a href="{{ category.href }}">
                    <div class="card shadow-sm border-0" style="min-height: 200px">
                        <div class="card-body">
                            <div class="row no-gutters h-100">
                                <img src="{{ category.image }}" alt="{{ category.name }}" class="small-slide-right w-100">
                                <div class="col-8">
                                <span
                                        class="text-dark mb-1 mt-2 h6 d-block">{{ category.name }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endif %}